img {
    width: 200px;
    height:200px;
    filter: brightness(0.3);
    filter: grayscale(0.25);
    transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1); /* Scales the image to 110% of its original size */
}

body {
    text-align: center;
    font-family: 'Arial';
    background: rgb(255, 0, 221);
    color:rgb(255, 255, 255)
    
}

a:link {
    color:rgb(128, 0, 0)
}
a:visited {
    color:rgb(0, 103, 0)
}
